<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PageItems</key>
	<array>
		<dict>
			<key>Title</key>
			<string>1.你的性别:</string>
			<key>TypeTxt</key>
			<string>[单选题]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>男</string>
				<key>Bselector</key>
				<string>女</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>2.你的年龄:</string>
			<key>TypeTxt</key>
			<string>[单选题]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>18-30岁</string>
				<key>Bselector</key>
				<string>31-50岁</string>
				<key>Cselector</key>
				<string>50岁以上</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>3.性生活史:</string>
			<key>TypeTxt</key>
			<string>[单选题]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>有</string>
				<key>Bselector</key>
				<string>无</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>1.既往重大病史:</string>
			<key>TypeTxt</key>
			<string>[可多选]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>无</string>
				<key>Bselector</key>
				<string>高血压</string>
				<key>Cselector</key>
				<string>冠心病</string>
				<key>Dselector</key>
				<string>脑中风</string>
				<key>Eselector</key>
				<string>糖尿病</string>
				<key>Fselector</key>
				<string>肿瘤</string>
				<key>Gselector</key>
				<string>脂肪肝</string>
				<key>Hselector</key>
				<string>其它</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>2.直系亲属重大病史:</string>
			<key>TypeTxt</key>
			<string>[可多选]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>无</string>
				<key>Bselector</key>
				<string>高血压</string>
				<key>Cselector</key>
				<string>冠心病</string>
				<key>Dselector</key>
				<string>脑中风</string>
				<key>Eselector</key>
				<string>糖尿病</string>
				<key>Fselector</key>
				<string>肿瘤</string>
				<key>Gselector</key>
				<string>其它</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>3.平均每日夜间睡眠时间:（睡眠不足易患心脏病、糖尿病、肥胖、内分泌失调）？</string>
			<key>TypeTxt</key>
			<string>[单选题]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>&lt;5小时</string>
				<key>Bselector</key>
				<string>6-7小时</string>
				<key>Cselector</key>
				<string>8-9小时</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>4.夜间睡眠质量？</string>
			<key>TypeTxt</key>
			<string>[可多选]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>良好</string>
				<key>Bselector</key>
				<string>失眠、多梦</string>
				<key>Cselector</key>
				<string>晨起后腰酸体乏、眼睛肿胀</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>5.吸烟史？</string>
			<key>TypeTxt</key>
			<string>[单选题]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>无</string>
				<key>Bselector</key>
				<string>&lt;5年</string>
				<key>Cselector</key>
				<string>&gt;5年</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>6.饮酒史？</string>
			<key>TypeTxt</key>
			<string>[单选题]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>无</string>
				<key>Bselector</key>
				<string>&lt;5两</string>
				<key>Cselector</key>
				<string>&gt;5两</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>7.每周锻炼次数（平均按30分钟计算）？</string>
			<key>TypeTxt</key>
			<string>[单选题]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>不锻炼</string>
				<key>Bselector</key>
				<string>&lt;4次</string>
				<key>Cselector</key>
				<string>&gt;4次</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>8.三餐是否按时进食？</string>
			<key>TypeTxt</key>
			<string>[单选题]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>能</string>
				<key>Bselector</key>
				<string>基本能</string>
				<key>Cselector</key>
				<string>不能</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>9.口味偏好？</string>
			<key>TypeTxt</key>
			<string>[可多选]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>甜</string>
				<key>Bselector</key>
				<string>咸</string>
				<key>Cselector</key>
				<string>酸或者辣</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>10.大便情况</string>
			<key>TypeTxt</key>
			<string>[可多选]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>基本正常</string>
				<key>Bselector</key>
				<string>腹泻、排不尽感</string>
				<key>Cselector</key>
				<string>便秘或便中带血</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>11.小便情况？</string>
			<key>TypeTxt</key>
			<string>[可多选]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>基本舒畅</string>
				<key>Bselector</key>
				<string>尿频、尿急、尿痛</string>
				<key>Cselector</key>
				<string>常有</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>12.有无视物模糊、迎风流泪或眼前飞蚊感？</string>
			<key>TypeTxt</key>
			<string>[单选题]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>无</string>
				<key>Bselector</key>
				<string>偶尔</string>
				<key>Cselector</key>
				<string>常有</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>13.有无听力下降或耳鸣？</string>
			<key>TypeTxt</key>
			<string>[单选题]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>无</string>
				<key>Bselector</key>
				<string>偶尔</string>
				<key>Cselector</key>
				<string>常有</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>14.有无口腔溃疡或者口臭？</string>
			<key>TypeTxt</key>
			<string>[单选题]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>无</string>
				<key>Bselector</key>
				<string>偶尔</string>
				<key>Cselector</key>
				<string>常有</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>15.有无不明原因鼻噻、喷嚏、流涕？</string>
			<key>TypeTxt</key>
			<string>[单选题]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>无</string>
				<key>Bselector</key>
				<string>有</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>16.有无舌麻木？</string>
			<key>TypeTxt</key>
			<string>[单选题]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>无</string>
				<key>Bselector</key>
				<string>偶尔</string>
				<key>Cselector</key>
				<string>常有</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>17.有无腹胀、腹痛、恶心、呕吐？</string>
			<key>TypeTxt</key>
			<string>[单选题]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>无</string>
				<key>Bselector</key>
				<string>偶尔</string>
				<key>Cselector</key>
				<string>常有</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>18.有无心慌、胸闷、气短？</string>
			<key>TypeTxt</key>
			<string>[单选题]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>无</string>
				<key>Bselector</key>
				<string>偶尔</string>
				<key>Cselector</key>
				<string>常有</string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>3.性生活史:</string>
			<key>TypeTxt</key>
			<string>[单选题]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>男</string>
				<key>Bselector</key>
				<string>女</string>
				<key>Cselector</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>3.性生活史:</string>
			<key>TypeTxt</key>
			<string>[单选题]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>男</string>
				<key>Bselector</key>
				<string>女</string>
				<key>Cselector</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>3.性生活史:</string>
			<key>TypeTxt</key>
			<string>[单选题]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>男</string>
				<key>Bselector</key>
				<string>女</string>
				<key>Cselector</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>3.性生活史:</string>
			<key>TypeTxt</key>
			<string>[单选题]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>男</string>
				<key>Bselector</key>
				<string>女</string>
				<key>Cselector</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>3.性生活史:</string>
			<key>TypeTxt</key>
			<string>[单选题]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>男</string>
				<key>Bselector</key>
				<string>女</string>
				<key>Cselector</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>Title</key>
			<string>3.性生活史:</string>
			<key>TypeTxt</key>
			<string>[单选题]</string>
			<key>Selectors</key>
			<dict>
				<key>Aselector</key>
				<string>男</string>
				<key>Bselector</key>
				<string>女</string>
				<key>Cselector</key>
				<string></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
